In [6]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sb
import math 
%matplotlib inline

from mlxtend.preprocessing import TransactionEncoder 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Part A

## Question 1

Group Name: Plum 

Member: Eric Grant

## Question 2

### (a)

(I1, I2, I3, I4, I5, I6 -> I7, I8)

sup(I1, I2, I3, I4, I5, I6, I7, I8) = 2

sup(I1, I2, I3, I4, I5, I6) = 2

conf(XY) = sup(XY) / sup(X) = 2/2 = 100%

### (b)

sup(I1, I6) = 2 / 4

conf(I1, I6) = 2 / 3

lift(I1, I6) = 2 / (3 * 3) = 2 / 9

D = 24 (ignore I9, I10, and all of T5 as they do not meet min-support)

conv(I1, I6) = (1 - (3/4 / 24)) / (1 - 2/3) = 2.9

## Question 3

$C_1$

| Item | Count |
| :---: | :---: |
| M | 3 | 
| O | 3 |
| N | 2 |
| K | 5 |
| E | 4 |
| Y | 3 |
| D | 1 |
| A | 1 |
| U | 1 |
| C | 2 |
| I | 1 |

$L_1$

| Item | Count |
| :---: | :---: |
| M | 3 | 
| O | 3 |
| K | 5 |
| E | 4 |
| Y | 3 |

$C_2$

| Item | Count |
| :---: | :---: |
| M,O | 1 | 
| M,K | 3 |
| M,E | 2 |
| M,Y | 2 |
| O,K | 3 |
| O,E | 3 |
| O,Y | 2 |
| K,E | 4 |
| K,Y | 3 |
| E,Y | 2 |

$L_2$

| Item | Count |
| :---: | :---: |
| M,K | 3 |
| O,K | 3 |
| O,E | 3 |
| K,E | 4 |
| K,Y | 3 |

$C_3$

| Item | Count |
| :---: | :---: |
| M,K,O | 1 |
| M,K,E | 2 |
| M,K,Y | 2 |
| K,O,E | 3 |
| K,O,Y | 2 |
| K,E,Y | 2 |

$L_3$

| Item | Count |
| :---: | :---: |
| K,O,E | 3 |

Frequent Item Sets

| Item | Count |
| :---: | :---: |
| M | 3 | 
| O | 3 |
| K | 5 |
| E | 4 |
| Y | 3 |
| M,K | 3 |
| O,K | 3 |
| O,E | 3 |
| K,E | 4 |
| K,Y | 3 |
| K,O,E | 3 |

# Part B

## Question 4

In [12]:
dataset = [
    ['M','O','N','K','E','Y'],
    ['D','O','N','K','E','Y'],
    ['M','A','K','E'],
    ['M','U','C','K','Y'],
    ['C','O','O','K','I','E']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
fi = apriori(df, min_support=3/5, use_colnames=True)
fi

    support   itemsets
0       0.8        (E)
1       1.0        (K)
2       0.6        (M)
3       0.6        (O)
4       0.6        (Y)
5       0.8     (E, K)
6       0.6     (O, E)
7       0.6     (K, M)
8       0.6     (O, K)
9       0.6     (K, Y)
10      0.6  (O, E, K)